// animation durations
$tinyFallingDuration: 1s;
$shortFallingDuration: 1.5s;
$mediumFallingDuration: 2.5s;
$longFallingDuration: 3s;

// animation offsets
$noOffset: 0s;
$tinyOffset: 0.2s;
$shortOffset: 0.5s;
$mediumOffset: 0.8s;
$longOffset: 1.3s;
$defaultDrift: 20px;

// left position offsets
$one: 5px;
$two: 25px;
$three: 75px;
$four: 100px;
$five: 150px;
$six: 205px;
$seven: 235px;
$eight: 280px;
$nine: 315px;
$ten: 360px;