//== pseudo element
%pseudoElement {
    content: '';
    position: absolute;
}


//== layers
$backgroundWeather: 1;
$backgroundWeatherForeground: 2;
$weather: 3;
$skylineBackground: 4;
$skylineForeground: 5;
$foregroundWeather: 6;
$absoluteForegroundLayer: 7;

%skylineBackground {
    z-index: $skylineBackground;
}

%skylineForeground {
    z-index: $skylineForeground;
}


//== colors

// DAY
$dataBgColor: #ccc;
$clearDayBgColor: #69f;
$cloudyDayBgColor: #ccf;

// NIGHT
$nightBgColor: #136;

// CLOUDS
$lightCloudDayColor: rgba(255, 255, 255, .7);
$lightCloudNightColor: rgba(150, 150, 150, .6);
$cloudDayColor: rgba(255, 255, 255, .9);
$cloudNightColor: rgba(150, 150, 150, .9);

// LEAVES BECAUSE REASONS???
$leafBrownColor: #836;
$leafGreenColor: #386;
$leafOrangeColor: #f86;

// LIGHTNING
$lightningDayFlashColor: rgba(255, 255, 230, 1);
$lightningNightFlashColor: rgba(255, 255, 200, 1);

// MIST
$mistDayColor: rgba(200, 200, 255, .5);
$mistNightColor: rgba(150, 150, 200, .4);
$mistTransforms: translateY(140px) scaleY(.4);

// THE RAIN IS COMING
$lightRainColor: rgba(100, 130, 255, .6);
$mediumRainColor: rgba(100, 130, 255, .75);
$heavyRainColor: rgba(100, 130, 255, .9);

// SMOKE
$smokeDayColor: rgba(200, 160, 120, .3);
$smokeNightColor: rgba(150, 100, 50, .2);
$smokeTransforms: translateX(-80px) translateY(30px) scaleY(2.5);

// SUN MOON


//== positions & sizes
// NOTE: more sizes in index.scss due to using native CSS variables for runtime calcs :)
$eastWind: 600px;
$westWind: -$eastWind;