//== pseudo element
%pseudoElement {
    content: '';
    position: absolute;
}

//== layers
$backgroundWeather: 1;
$backgroundWeatherForeground: 2;
$weather: 3;
$skylineBackground: 4;
$skylineForeground: 5;
$foregroundBackgroundWeather: 6;
$foregroundWeather: 7;
$absoluteForegroundLayer: 8;

%skylineBackground {
    z-index: $skylineBackground;
}

%skylineForeground {
    z-index: $skylineForeground;
}


//== colors

// raw colors
$darkBrown: #836; // TODO: consider color for falling sideways objects
$red: #f36;
$orange: #f86; // TODO: consider color for falling sideways objects
$yellow: #fc6;
$green: #3f6;
$darkGreen: #386; // TODO: consider color for falling sideways objects
$brightLightBlue: #3cf;
$dullLightBlue: #69f;
$dullBlue: #29c;
$lightPurple: #96f;
$purplePink: #e2f;
$black: #000;
$veryDarkGreyGreen: #012;
$veryDarkGreyBlue: #136;
$darkGrey: #333;
$darkGreyGreen: #345;
$lessDarkGrey: #444;
$lessDarkGreyGreen: #456;
$mediumGrey: #aaa;
$lightGrey: #ccc;
$lightGreyBlue: #ccf;
$transparentLightGrey: rgba(150, 150, 150, .6);
$white: #fff;

// DAY
$dataBgColor: $lightGrey;
$clearDayBgColor: $dullLightBlue;
$cloudyDayBgColor: $lightGreyBlue;

// NIGHT
$nightBgColor: $veryDarkGreyBlue;

// CLOUDS
$lightCloudDayColor: rgba(255, 255, 255, .7);
$lightCloudNightColor: rgba(150, 150, 150, .7);
$lightCloudTransforms:  scale(.7) translateY(-30%);
$cloudDayColor: rgba(255, 255, 255, .8);
$cloudNightColor: rgba(150, 150, 150, .8);
$heavyCloudDayColor: rgba(255, 255, 255, .9);
$heavyCloudNightColor: rgba(150, 150, 150, .9);
$heavyCloudTransforms: scale(1.6) translateY(-30%);

// LIGHTNING
$lightningDayFlashColor: rgba(255, 255, 230, 1);
$lightningNightFlashColor: rgba(255, 255, 200, 1);

// MIST
$mistDayColor: rgba(200, 200, 255, .5);
$mistNightColor: rgba(150, 150, 200, .4);
$mistTransforms: translateY(140px) scaleY(.4);

// THE RAIN IS COMING
$lightRainColor: rgba(100, 130, 255, .6);
$mediumRainColor: rgba(100, 130, 255, .75);
$heavyRainColor: rgba(100, 130, 255, .9);

// SMOKE
$smokeDayColor: rgba(200, 160, 120, .3);
$smokeNightColor: rgba(150, 100, 50, .2);
$smokeTransforms: translateX(-80px) translateY(30px) scaleY(2.5);
