//== layers
$backgroundWeather: 1;
$backgroundWeatherForeground: 2;
$weather: 3;
$foregroundWeather: 4;
$onTopOfWeather: 5;


//== colors

// DAY
$dataBgColor: #ccc;
$clearDayBgColor: #69f;
$cloudyDayBgColor: #ccf;

// NIGHT
$nightBgColor: #136;

// CLOUDS
$lightCloudDayColor: rgba(255, 255, 255, .7);
$lightCloudNightColor: rgba(150, 150, 150, .6);
$cloudDayColor: rgba(255, 255, 255, .9);
$cloudNightColor: rgba(150, 150, 150, .9);

// MIST
$mistDayColor: rgba(200, 200, 255, .5);
$mistNightColor: rgba(150, 150, 200, .4);
$mistTransforms: translateY(140px) scaleY(.4);

// SMOKE
$smokeDayColor: rgba(200, 160, 120, .3);
$smokeNightColor: rgba(150, 100, 50, .2);
$smokeTransforms: translateX(-80px) translateY(30px) scaleY(2.5);

// SUN MOON
$sunPrimaryColor: yellow;
$sunSecondaryColor: #fc0;
$sunTertiaryColor: orange;
$moonPrimaryColor: #334;
$moonSecondaryColor: #aaa;
$moonCraterColor: #001;
$moonPhaseLightOverlay: rgba(235, 235, 255, 0.8);
$moonPhaseDarkOverlay: rgba(50, 50, 70, 0.8);


//== positions & sizes
// NOTE: more sizes in index.scss due to using native CSS variables for runtime calcs :)
$eastWind: 600px;
$westWind: -$eastWind;