@import './variables';

// IMPORTANT: be careful when modifying these values & animation defs below.
//            less than 3 flashes per second is the max threshhold.
//            https://www.w3.org/TR/UNDERSTANDING-WCAG20/seizure-does-not-violate.html
$lightningDuration: 6s;
$lightningOffset: -4s;

#lightning {
    z-index: $absoluteForegroundLayer;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--weather-height);
    width: var(--frame-width);
    opacity: 0;
    animation: lightningDay $lightningDuration linear infinite $lightningOffset;
}

.night #lightning {
    animation: lightningNight $lightningDuration linear infinite $lightningOffset;
}

@keyframes lightningDay {
    98.5% { opacity: 0; }
    99% { opacity: 1; background: $lightningDayFlashColor; }
    100% { opacity: 0; }
}

@keyframes lightningNight {
    98.5% { opacity: 0; }
    99% { opacity: 1; background: $lightningNightFlashColor; }
    100% { opacity: 0; }
}