@import './variables';
@import './clouds.scss';

.mist {
    .cloud, .puff, .cloud:after, .puff:after {
        background: $mistDayColor;
        transform: $mistTransforms;
        filter: blur(30px);
    }
}
