@import './variables';

#weather {
    background: $nightBgColor;

    .cloud, .puff, .cloud:after, .puff:after {
        background: $lightCloudNightColor;
    }

    &.mist {
        .cloud, .puff, .cloud:after, .puff:after {
            background: $mistNightColor;
        }
    }

    &.smoke {
        .cloud, .puff, .cloud:after, .puff:after {
            background: $smokeNightColor;
        }
    }

    &.isFalling {
        .cloud, .puff, .cloud:after, .puff:after {
            background: $cloudNightColor;
        }
    }
}

@mixin stars() {
    @for $i from 1 through 30 {
        $name: star + '-' + $i;
    
        .#{$name} {
            top: random(100) * 1%;
            left: random(100) * 1%;
        }
    }
}

.star {
    z-index: $backgroundWeather;
    position: absolute;
    box-shadow: 0 0 1px 1px #fff;
}

@include stars();