@use "sass:math";
@use './variables';

.night {
    background: variables.$nightBgColor;

    .cloud, .puff, .cloud:after, .puff:after {
        background: variables.$cloudNightColor;
    }

    &.light {
        .cloud, .puff, .cloud:after, .puff:after {
            background: variables.$lightCloudNightColor;
        }
    }
    
    &.heavy {
        .cloud, .puff, .cloud:after, .puff:after {
            background: variables.$heavyCloudNightColor;
        }
    }

    &.mist {
        .cloud, .puff, .cloud:after, .puff:after {
            background: variables.$mistNightColor;
        }
    }

    &.smoke {
        .cloud, .puff, .cloud:after, .puff:after {
            background: variables.$smokeNightColor;
        }
    }
}

@mixin stars() {
    @for $i from 1 through 30 {
        $name: star + '-' + $i;
    
        .#{$name} {
            top: math.random(100) * 1%;
            left: math.random(100) * 1%;
        }
    }
}

.star {
    z-index: variables.$backgroundWeather;
    position: absolute;
    box-shadow: 0 0 1px 1px #fff;
}

@include stars();