@import './variables';

#weather {
    background: $nightBgColor;

    .cloud, .puff, .cloud:after, .puff:after {
        background: $lightCloudNightColor;
    }

    &.mist {
        .cloud, .puff, .cloud:after, .puff:after {
            background: $mistNightColor;
        }
    }

    &.smoke {
        .cloud, .puff, .cloud:after, .puff:after {
            background: $smokeNightColor;
        }
    }

    &.isFalling {
        .cloud, .puff, .cloud:after, .puff:after {
            background: $cloudNightColor;
        }
    }
}