@import './variables';

@mixin wind($speed) {
    &.wind-east {
        .cloud, .puff {
            animation: eastWind $speed infinite linear;
        }

        &.mist {
            .cloud, .puff {
                animation: eastWindMist $speed infinite linear;
            }
        }

        &.smoke {
            .cloud, .puff {
                animation: eastWindSmoke $speed infinite linear;
            }
        }
    }

    &.wind-west {
        .cloud, .puff {
            animation: westWind $speed infinite linear;
        }

        &.mist {
            .cloud, .puff {
                animation: westWindMist $speed infinite linear;
            }
        }

        &.smoke {
            .cloud, .puff {
                animation: westWindSmoke $speed infinite linear;
            }
        }
    }
}

.cloud:after, .puff:after {
    content: '';
    left: var(--wind-frame-size);
    visibility: visible;
}

.wind-west {
    .cloud:after, .puff:after {
        left: calc(-1 * var(--wind-frame-size));
    }
}

.wind-low {
    @include wind(60s);
}

.wind-med {
    @include wind(40s);
}

.wind-high {
    @include wind(20s);
}

@mixin windAnimationWithTransform($name, $additionalTransforms) {
    $eastName: eastWind + $name;
    @keyframes #{$eastName} {
        100% {
            transform: translateX(calc(-1 * var(--wind-frame-size))) $additionalTransforms;
        }
    }

    $westName: westWind + $name;
    @keyframes #{$westName} {
        100% {
            transform: translateX(var(--wind-frame-size)) $additionalTransforms;
        }
    }
}

@keyframes eastWind {
    100% {
        transform: translateX(calc(-1 * var(--wind-frame-size)));
    }
}

@keyframes westWind {
    100% {
        transform: translateX(var(--wind-frame-size));
    }
}

@include windAnimationWithTransform(Mist, $mistTransforms);
@include windAnimationWithTransform(Smoke, $smokeTransforms);
