@import './variables';

@mixin wind($speed) {
    &.wind-east {
        .cloud, .puff {
            animation: eastWind $speed infinite linear;
        }

        &.mist {
            .cloud, .puff {
                animation: eastWindMist $speed infinite linear;
            }
        }
    }

    &.wind-west {
        .cloud, .puff {
            animation: westWind $speed infinite linear;
        }

        &.mist {
            .cloud, .puff {
                animation: westWindMist $speed infinite linear;
            }
        }
    }
}

.cloud:after, .puff:after {
    content: '';
    left: $eastWind;
    visibility: visible;
}

.wind-west {
    .cloud:after, .puff:after {
        left: $westWind;
    }
}

.wind-low {
    @include wind(60s);
}

.wind-med {
    @include wind(40s);
}

.wind-high {
    @include wind(20s);
}

@mixin windAnimation($name: '', $additionalTransforms: '') {
    @keyframes #{eastWind + $name} {
        100% {
            transform: translateX(-$eastWind) $additionalTransforms;
        }
    }

    @keyframes #{westWind + $name} {
        100% {
            transform: translateX(-$westWind) $additionalTransforms;
        }
    }
}

@include windAnimation();
@include windAnimation(Mist, $mistTransforms);
