@import '../variables';

.cloud, .puff, .cloud:after, .puff:after {
    position: absolute;
    background: $cloudDayColor;
    border-radius: 50%;
    z-index: $foregroundWeather;
}

.light { // TODO: can has pseudo selector usage here instead of repeated cloud puff forever?
    .cloud, .puff, .cloud:after, .puff:after {
        background: $lightCloudDayColor;
        transform: $lightCloudTransforms;
    }
}

.heavy {
    .cloud, .puff, .cloud:after, .puff:after {
        background: $heavyCloudDayColor;
        transform: $heavyCloudTransforms;
    }
}

.isFalling {
    .cloud, .puff, .cloud:after, .puff:after {
        background: $cloudDayColor;
    }
}

.cloud, .cloud:after {
    height: 100px;
    filter: blur(10px);
}

.puff, .puff:after {
    height: 80px;
    width: 250px;
    filter: blur(15px);
}

.cloud.one, {
    top: -10px;
    left: -30px;
    width: 500px;

    &:after {
        width: 500px;
    }
}

.cloud.two {
    top: 40px;
    left: 80px;
    width: 300px;

    &:after {
        width: 300px;
    }
}

.cloud.three {
    top: 80px;
    left: 180px;
    width: 400px;

    &:after {
        width: 400px;
    }
}

.puff.one {
    top: 120px;
    left: 20px;
}

.puff.two {
    top: 140px;
    left: 120px;
}

.puff.three {
    top: 50px;
    left: 330px;
}
