@import '../variables';
@import './clouds.scss';

// TODO: add poison symbols? ☣︎ ☠️
.smoke {
    .cloud, .puff, .cloud:after, .puff:after {
        background: $smokeDayColor;
        transform: $smokeTransforms;
        filter: blur(30px);
    }

    #sun {
        opacity: .8;
    }
}