@use '../variables';
@use './clouds.scss';

// TODO: add poison symbols? ☣︎ ☠️
.smoke {
    .cloud,
    .puff,
    .cloud:after,
    .puff:after {
        background: variables.$smokeDayColor;
        transform: variables.$smokeTransforms;
        filter: blur(calc(var(--base-width) * 0.3));
    }

    #sun {
        opacity: 0.8;
    }
}
