@use './falling';
@use './mediumFalling.scss';
@use '../variables';

.large.weather {
    height: 30px;
    width: 16px;
    background: variables.$heavyRainColor;
}

@include falling.falling(large);
