@use '../cloud-like-weather/clouds.scss';
@use '../variables';
@use './falling';

.isFalling .weather {
    z-index: variables.$foregroundBackgroundWeather;
    position: absolute;
    top: calc(var(--frame-width) / -40);
    opacity: 0;
    border-radius: 50%;
}

.tiny.weather {
    height: 16px;
    width: 8px;
    background: variables.$lightRainColor;
}

@include falling.baseAnimations();
@include falling.falling(tiny);