@import '../variables';

#weather {
    background: $nightBgColor;

    #sun {
        visibility: hidden;
    }

    #moon {
        visibility: visible;
    }

    .cloud, .puff {
        background: $lightCloudNightColor;
    }

    &.isFalling {
        .cloud, .puff {
            background: $cloudNightColor;
        }
    }
}