$buildingDayColor: #456;
$buildingNightColor: #012;
$lightColor: #e2f;
$lightGlow: 0 0 4px 1px $lightColor;

.columbia-tower {
    @extend %skylineForeground;
    background: $buildingDayColor;
    position: absolute;
    top: 65%;
    left: 54%;
}

.night .columbia-tower {
    background: $buildingNightColor;

    &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background: $lightColor;
        box-shadow: $lightGlow;
    }
}

.columbia-tower-1 {
    height: 35%;
    width: 4%;
}

.columbia-tower-2 {
    height: 30%;
    width: 5%;
    top: 70%;
}

.columbia-tower-3 {
    height: 20%;
    width: 1%;
    top: 80%;
    left: 58.5%;
}