$lightColor: #e2f;
$buildingColor: #012;

.columbia-tower {
    background: $buildingColor;
    position: absolute;
    top: 65%;
    left: 42%;
    
    &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background: $lightColor;
        box-shadow: 0 0 4px 1px $lightColor;
    }
}

.columbia-tower-1 {
    height: 35%;
    width: 4%;
}

.columbia-tower-2 {
    height: 30%;
    width: 5%;
    background: $buildingColor;
    position: absolute;
    top: 70%;
}

.columbia-tower-3 {
    height: 20%;
    width: 1%;
    background: $buildingColor;
    position: absolute;
    top: 80%;
    left: 46.5%;
}