@import '../variables';

@keyframes wheel {
    25% {
        transform: rotate(360deg);
        border-color: $red;
        box-shadow: 0 0 8px 1px $red;
    }
    50% {
        transform: rotate(720deg);
        border-color: $white;
        box-shadow: 0 0 8px 1px $white;
    }
    75% {
        transform: rotate(1080deg);
        border-color: $yellow;
        box-shadow: 0 0 8px 1px $yellow;
    }
    100% {
        transform: rotate(1440deg);
        border-color: $brightLightBlue;
        box-shadow: 0 0 8px 1px $brightLightBlue;
    }
}

@keyframes spoke {
    20% { background: $red; }
    40% { background: $yellow; }
    60% { background: radial-gradient(ellipse at 50%, $brightLightBlue, $brightLightBlue 10%, $dullBlue 20%, $black 35%, $yellow 90%) }
    80% { background: $brightLightBlue; }
    100% { background: $green; }
}

#great-wheel {
    @extend %skylineForeground;
    position: absolute;
    top: 88%;
    left: 1%;
    height: calc(var(--frame-width) / 10);
    width: calc(var(--frame-width) / 10);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid $darkGrey;

    .spoke {
        position: absolute;
        left: calc(var(--frame-width) / -20 - 2px);
        top: -2px;
        height: calc(var(--frame-width) / 10);
        width: calc(var(--frame-width) / 5);
        background: $lessDarkGrey;
    }

    .spoke-1 {
        clip-path: polygon(48% 0, 51% 0, 51% 100%, 48% 100%);
    }
    
    .spoke-2 {
        clip-path: polygon(3% 0, 0 3%, 97% 100%, 100% 97%);
    }
    
    .spoke-3 {
        clip-path: polygon(97% 0, 100% 3%, 3% 100%, 0 97%);
    }
    
    .spoke-4 {
        clip-path: polygon(30% 100%, 33% 100%, 70% 0, 67% 0);
    }
    
    .spoke-5 {
        clip-path: polygon(67% 100%, 70% 100%, 33% 0, 30% 0);
    }
    
    .spoke-6 {
        clip-path: polygon(100% 62%, 100% 66%, 0 38%, 0 34%);
    }
    
    .spoke-7 {
        clip-path: polygon(0 64%, 0 68%, 100% 36%, 100% 32%);
    }
}

.greatWheelOpen #great-wheel {
    animation: wheel 60s ease-in-out infinite;
    border-color: $green;
    box-shadow: 0 0 8px 1px $green;

    .spoke {
        background: radial-gradient(ellipse at 50%, $lightPurple, $lightPurple 10%, $white 20%, $black 35%, $green 90%);
        animation: spoke 100s linear infinite alternate;
    }
}