@use '../variables';

@keyframes wheel {
    25% {
        transform: rotate(360deg);
        border-color: variables.$red;
        box-shadow: 0 0 8px 1px variables.$red;
    }
    50% {
        transform: rotate(720deg);
        border-color: variables.$white;
        box-shadow: 0 0 8px 1px variables.$white;
    }
    75% {
        transform: rotate(1080deg);
        border-color: variables.$yellow;
        box-shadow: 0 0 8px 1px variables.$yellow;
    }
    100% {
        transform: rotate(1440deg);
        border-color: variables.$brightLightBlue;
        box-shadow: 0 0 8px 1px variables.$brightLightBlue;
    }
}

@keyframes spoke {
    20% { background: variables.$red; }
    40% { background: variables.$yellow; }
    60% { background: radial-gradient(ellipse at 50%, variables.$brightLightBlue, variables.$brightLightBlue 10%, variables.$dullBlue 20%, variables.$black 35%, variables.$yellow 90%) }
    80% { background: variables.$brightLightBlue; }
    100% { background: variables.$green; }
}

#great-wheel {
    @extend %skylineForeground;
    position: absolute;
    top: 88%;
    left: 1%;
    height: calc(var(--frame-width) / 10);
    width: calc(var(--frame-width) / 10);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid variables.$darkGrey;

    .spoke {
        position: absolute;
        left: calc(var(--frame-width) / -20 - 2px);
        top: -2px;
        height: calc(var(--frame-width) / 10);
        width: calc(var(--frame-width) / 5);
        background: variables.$lessDarkGrey;
    }

    .spoke-1 {
        clip-path: polygon(48% 0, 51% 0, 51% 100%, 48% 100%);
    }
    
    .spoke-2 {
        clip-path: polygon(3% 0, 0 3%, 97% 100%, 100% 97%);
    }
    
    .spoke-3 {
        clip-path: polygon(97% 0, 100% 3%, 3% 100%, 0 97%);
    }
    
    .spoke-4 {
        clip-path: polygon(30% 100%, 33% 100%, 70% 0, 67% 0);
    }
    
    .spoke-5 {
        clip-path: polygon(67% 100%, 70% 100%, 33% 0, 30% 0);
    }
    
    .spoke-6 {
        clip-path: polygon(100% 62%, 100% 66%, 0 38%, 0 34%);
    }
    
    .spoke-7 {
        clip-path: polygon(0 64%, 0 68%, 100% 36%, 100% 32%);
    }
}

.greatWheelOpen #great-wheel {
    animation: wheel 60s ease-in-out infinite;
    border-color: variables.$green;
    box-shadow: 0 0 8px 1px variables.$green;

    .spoke {
        background: radial-gradient(ellipse at 50%, variables.$lightPurple, variables.$lightPurple 10%, variables.$white 20%, variables.$black 35%, variables.$green 90%);
        animation: spoke 100s linear infinite alternate;
    }
}