#generic-skyline {
    position: absolute;
    top: 65%;
    height: 40%;
    width: 100%;
    background: #666;
    clip-path: polygon(
        0% 100%, 0% 70%, 17% 70%, 17% 47%, 22% 46%, 22% 68%, 23% 68%, 24% 63%,
        25% 57%, 27% 63%, 28% 35%, 31% 35%, 34% 30%, 36% 35%, 38% 35%, 38% 48%,
        42% 48%, 43% 40%, 45% 40%, 52% 38%, 53% 50%, 51% 50%, 55% 51%, 55% 26%,
        57% 22%, 58% 17%, 63% 17%, 64% 57%, 67% 57%, 68% 43%, 72% 43%, 73% 25%,
        77% 24%, 78% 50%, 80% 54%, 84% 54%, 84% 48%, 88% 48%, 89% 39%, 94% 39%,
        94% 30%, 100% 29%, 100% 100%);
}

.night #generic-skyline {
    background: #123;
}

@import './greatWheel';
@import './smithTower';
@import './columbiaTower';
@import './i5corridor';