@use '../variables';

// colors
$buildingDayColor: variables.$mediumGrey;
$buildingNightColor: variables.$darkGreyGreen;
$globeDayColor: variables.$white;
$globeDayGlow: 0 0 0 0 $globeDayColor;
$globeNightColor: variables.$brightLightBlue;
$globeNightGlow: 0 0 8px 1px $globeNightColor;

#smith-tower {
    // FIXME: fr @extend %skylineForeground
    z-index: variables.$skylineForeground;

    // orig styles
    position: absolute;
    top: 80%;
    left: 34%;
    height: 22%;
    width: 10%;
    background: $buildingDayColor;
    clip-path: polygon(0% 100%, 0% 20%, 15% 0, 30% 20%, 30% 60%, 100% 60%, 100% 100%);
}

#smith-tower-globe {
    // FIXME: fr @extend %skylinePseudo
    height: 100%;
    width: 100%;
    // FIXME: fr @extend %pseudoElement in %skylinePseudo
    content: '';
    position: absolute;

    // orig styles
    top: 79.5%;
    left: 35.2%;
    height: calc(var(--frame-width) / 200);
    width: calc(var(--frame-width) / 200);
    border-radius: 50%;
    background: $globeDayColor;
    box-shadow: $globeDayGlow;
}

.night {
    #smith-tower {
        background: $buildingNightColor;
    }

    #smith-tower-globe {
        background: $globeNightColor;
        box-shadow: $globeNightGlow;
    }
}