$frame-width: 400px;
$half-frame-width: 200px;
$weather-background: #000;
$data-background: #ccc;
$clear-background: #69f;
$cloudy-background: #ccf;
$night-overlay: rgba(0,0,80,.4);
$light-position: 60px;
$light-size: 70px;
$blue: #00f;